---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard";
import StackCard from "@components/StackCard.astro";
import { SITE } from "@consts";

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const stack = [
  {
    text: "Astro",
    icon: "astro",
    href: "https://astro.build",
  },
  {
    text: "Javascript",
    icon: "javascript",
    href: "https://www.javascript.com",
  },
  {
    text: "Typescript",
    icon: "typescript",
    href: "https://www.typescriptlang.org",
  },
  {
    text: "Tailwind",
    icon: "tailwind",
    href: "https://tailwindcss.com",
  },
];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <div
    class="raindrop"
    style=`left: 30%; top: 30%; background-image: url('../../public/logos/react.png');`
  >
  </div>
  <div
    class="raindrop"
    style=`left: 50%; top: 30%; background-image: url('../../public/logos/next.png');`
  >
  </div>
  <div
    class="raindrop"
    style=`left: 70%; top: 30%; background-image: url('../../public/logos/astro.png');`
  >
  </div>
  <div
    class="raindrop"
    style=`left: 30%; top: 50%; background-image: url('../../public/logos/tailwind.png');`
  >
  </div>
  <div
    class="raindrop"
    style=`left: 50%; top: 50%; background-image: url('../../public/logos/js-logo.png');`
  >
  </div>
  <div
    class="raindrop"
    style=`left: 70%; top: 50%; background-image: url('../../public/logos/graphql.png');`
  >
  </div>
  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <div class="relative w-full h-full flex items-center justify-center">
        <div class="p-5 text-center">
          <p
            class="animated lg:text-6xl text-4xl font-bold uppercase text-black dark:text-[#6FFFAF] animate-pulse bg-gradient-to-r from-pink-500 via-green-500 to-violet-500 bg-clip-text text-transparent"
          >
            KIWISCRIPT
          </p>
          <p class="animated text-lg md:text-base lg:text-xl opacity-75 py-5">
            Desarrollo de codigo eficiente
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p class="text-xl text-center">
            Bienvenid@ somos KiwiScript, una empresa de desarrollo de software,
            especializada en el desarrollo de aplicaciones web y móviles, con
            tecnologías de punta y un equipo de profesionales altamente
            capacitados.
          </p>
        </article>

        <!-- Tech Stack Section -->
        <section class="animate">
          <div class="space-y-4">
            <p class="font-semibold text-black dark:text-white">
              Nos enfocamos en:
            </p>
            <div class="flex flex-wrap items-center gap-2 mt-5">
              {
                stack.map((item) => (
                  <StackCard
                    text={item.text}
                    icon={item.icon}
                    href={item.href}
                  />
                ))
              }
            </div>
          </div>
        </section>

        <!-- Project Preview Section -->
        <!-- <section class="animate">
          <div class="space-y-4">
            <div class="flex justify-between">
              <p class="font-semibold text-black dark:text-white">PROYECTOS</p>
              <a
                href="/projects"
                class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
              >
                <span
                  class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
                >
                  All projects
                </span>
              </a>
            </div>
            <ul class="space-y-4">
              {
                projects.map((project) => (
                  <li>
                    <ArrowCard entry={project} />
                  </li>
                ))
              }
            </ul>
          </div>
        </section> -->

        <!-- Contact Section -->
        <!-- <section class="animate">
          <div>
            <p class="font-semibold text-black dark:text-white">
              Let's Connect
            </p>
            <p>Reach out to me via email or on social media.</p>
            <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
              {
                SOCIALS.map((social) => (
                  <>
                    <div class="col-span-1 flex items-center gap-1">
                      <span class="whitespace-nowrap truncate">
                        {social.NAME}
                      </span>
                    </div>
                    <div class="col-span-3 truncate">
                      <a
                        href={social.HREF}
                        target="_blank"
                        class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
                      >
                        <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                          {social.TEXT}
                        </span>
                      </a>
                    </div>
                  </>
                ))
              }
            </div>
          </div>
        </section> -->
      </section>
    </div>
  </div>
</PageLayout>
